<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>

</head>
<body>
    <div id="app"></div>
    <script>
    Vue.createApp({
      data() {
        return {
            list:[],
            inputValue:'',
        };
      },
      methods: {
        add() {
          this.list.push(this.inputValue);
          this.inputValue = '';

        },
        remove() {
          this.list.pop();
        },
      },
      template: `
        <div>
            <input v-model="inputValue"/>
            <button @click="add">add person</button>
            <button @click="remove">del person</button>
            <ul>
                <li v-for="(item,index) in list">[{{index}}]{{item}}</li>  
            </ul>
        </div>
        `,
    }).mount("#app");
  </script>
</body>
</html>